[project]
	description = Library Managment
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/moeun
[access "refs/for/refs/*"]
	read = group user/moeun
	push = group user/moeun
	label-Code-Review = -2..+2 group user/moeun
	label-Verified = -1..+1 group user/moeun
	rebase = group user/moeun
	removeReviewer = group user/moeun
	submit = group user/moeun
[access "refs/heads/*"]
	read = group user/moeun
	create = group user/moeun
	push = +force group user/moeun
	pushMerge = group user/moeun
[access "refs/tags/*"]
	push = +force group user/moeun
	pushTag = group user/moeun
	pushSignedTag = group user/moeun
